.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.game_carousel{
    margin-top: 10%;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.home_slick_slide{
	background-color: white;
}
.slick-prev {
    left: 10px;
    opacity: .8;
}
.slick-next {
    right: 10px;
    opacity: .8;
}
.slick-next:hover {
    right: 10px;
    opacity: 1.5;
}
.slick-prev:hover {
    left: 10px;
    opacity: 1.5;
}
.game_thumbnail{
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    padding: 30px;

}
.game_thumbnail:hover{
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    padding: 30px;

}
/*Willie's code*/
body {
	font-family: 'Roboto', sans-serif;
}
.nav-material {
	background-color: #27A9E1;
	padding-top: 12px;
	padding-bottom: 12px;
	border-color: #ABDAF4;
	border-bottom-width: 7px;
	font-weight: bolder;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}
.nav a, .navbar-header a{
	color: white;
	font-size: 18px;
	font-weight: semi-bold;
}
.navbar-header a {
	font-size: 30px;
	font-weight: bolder;
}

.content {
	margin-top: 100px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

footer {
	margin-top: 20px;
	background-color: #27A9E1;
	padding-top: 60px;
	padding-bottom: 20px;
	border-top-width: 20px;
	border-top-color: black;
}

.footer-header {
	font-weight: bold;
}

.footer ul {
	list-style-type: none;
	color: white;
	text-align: center;
}

.footer ul li {
		padding-bottom: 10px;
		font-weight: lighter;
}

