#gameField {
	width: 400px;
	height: 400px;
	float:left;
	border: 4px double #1D6609;
    background:#ebe2ce;
    position: relative;
}

#gameInfo {
	border: 1px #6f5a2d solid;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    background:#99CCFF;
	font-family:sans-serif; 
    font-weight:bold; 
	text-align:center;
	color:#792c15;
}

.bodypart {
	height: 8px;
	width: 8px;
	position:absolute;
	background: red;
	 -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.food {
	height: 8px;
	width: 8px;
	position:absolute;
	background: green;
}